*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 20px;
    width: 800px;
    height: 400px;
    border-bottom: 15px solid rgb(187, 134, 65);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(168, 196, 248);

}
.score{
    border: 1px solid black;
    position: relative;
    display: flex;
    text-align: center;
    width: 100px;
    flex-direction: column;
    margin: 0 auto;
}
.pontos{
    display: flex;
    justify-content: center;
}
.nuvem{
    position: absolute;
    width: 50%;
    animation: nuvem-animation 40s infinite linear; 
}
@keyframes nuvem-animation{
    from{
        right: -200px;
    }
    to {
        right: 100%;
    }
}


.obj-obstaculo{
    position: absolute;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
    width: 8%;

}
/*.obj-obstaculo-cano-pequeno {
    width: 10%;
    height: 100px;
}

.obj-obstaculo-cano-grande {
    width: 20%;
    height: 200px;
}*/

.objmario{
    width: 15%;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump-animation 500ms ease-out;
}
@keyframes pipe-animation{
    from{
        right: -10px;
    }
    to {
        right: 100%;
    }
}
@keyframes jump-animation{
    0% {
        bottom: 0;
    }
    40% {
        bottom: 35vh;
    }
    60% {
        bottom: 35vh;
    }
    100%{
        bottom: 0;
    }
}